h1 {
    color: blue;
    width: 100%;
    margin: 0 42%;
}

h3 {
    color: red;
}

form {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 10px;
}

table {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
}

th {
    padding-right: 100px;
    color: dodgerblue;
}

.blue {
    color: dodgerblue;
}